<div class="jumbotron text-center my-3">
  <h1 class="display-4">Wellcome to the Auth App!</h1>
  <p class="lead">This is a simple app build on the MEAN stack by pesho. The app has basic functionalisanasdsad s d as dsanbdsasda dsa sda f  sdf sgfd sd fsd fds f ds fsd dfs Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel sint veritatis officia numquam animi, voluptatibus molestiae, voluptates adipisci saepe vero eos? Ipsa voluptatem ab, ea velit non modi nam reiciendis.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, dignissimos?</p>
  <div>
    <a class="btn btn-primary btn-lg mx-1" href="#" role="button" routerLink='register'>Register</a>
    <a class="btn btn-secondary btn-lg mx-1" href="#" role="button" routerLink='login'>Log in</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>It simple</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="col-md-4">
    <h3>It nice</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  </div>
  <div class="col-md-4">
    <h3>It good</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit rerum quisquam rem?</p>
  </div>
</div>